flows.json
[{"id":"83e58bdc.48802","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aa7d7c6a.e0926","type":"serial in","z":"83e58bdc.48802","name":"","serial":"70f42acc.63cfc4","x":110,"y":500,"wires":[["f59426e8.9c5cd8"]]},{"id":"eaacd318.b5b12","type":"debug","z":"83e58bdc.48802","name":"","active":false,"console":"false","complete":"false","x":679.0001029968262,"y":216.39999961853027,"wires":[]},{"id":"4e4a10bb.6c4c1","type":"inject","z":"83e58bdc.48802","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["5881f8ed.dc2198","c001375c.bc7b58"]]},{"id":"6051ae89.2dfc3","type":"serial out","z":"83e58bdc.48802","name":"","serial":"70f42acc.63cfc4","x":669.0000534057617,"y":115.39999675750732,"wires":[]},{"id":"5881f8ed.dc2198","type":"function","z":"83e58bdc.48802","name":"sendReq","func":"// ----------- input par\nvar func_no = 0x63;\nvar func_len = 7;\nvar func_par = 0;\n\n// ----------- func init\nvar buffer = new Buffer(func_len);\nvar serial = 42356415;\nnode.status({text:\"Func \"+func_no.toString(16)});\n\n// -------------encode serial\nserial = serial.toString(16);\nif (serial.length<8) serial=\"0\"+serial;\nbuffer[0]=parseInt(serial.substr(0,2),16);\nbuffer[1]=parseInt(serial.substr(2,2),16);\nbuffer[2]=parseInt(serial.substr(4,2),16);\nbuffer[3]=parseInt(serial.substr(6,2),16);\nbuffer[4]=func_no;\nif (func_len>7) buffer[5]=func_par;\n\n// ------------- calculate crc\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < (func_len-2); i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n// ------------- fill crc\n\nbuffer[(func_len-2)]= crc & 0xFF;\nbuffer[(func_len-1)]= (crc & 0xFF00) >> 8;\n\n// ------------- send out\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":60,"wires":[["6051ae89.2dfc3"]]},{"id":"f59426e8.9c5cd8","type":"function","z":"83e58bdc.48802","name":"parseResp","func":"// ------------- var init\n\nvar result = {};\n\n// ------------- preface\n\nfunction bcdparse(arg) {\n    var t=0;\n    var r=\"\";\n    t = (arg&0xF0)>>4;\n    r=t.toString();\n    t = arg&0x0F;\n    r+=t.toString();\n    return r;\n}\n\n// ------------- message type\nif (msg.payload.length<2) {\n    result.type = \"empty\";\n    msg.payload = result;\n    return msg;\n}\nif ((msg.payload.length>2)&&(msg.payload.length<10)) {\n    result.type = \"request\";\n} else {\n    result.type = \"response\";\n}\n\n// -------------- function number\n\ntemp = msg.payload[4];\nresult.function = \"0x\"+temp.toString(16);\n\n// -------------- parse data\n\nif ((result.type==\"response\")&&(result.function==\"0x63\")){\n    result.voltage = bcdparse(msg.payload[5])+bcdparse(msg.payload[6]);\n    result.voltage = parseFloat(result.voltage.substr(0,3)+\".\"+result.voltage.substr(3));\n    node.send([,{topic:'voltage',payload:result.voltage}]);\n    result.current = bcdparse(msg.payload[7])+bcdparse(msg.payload[8]);\n    result.current = parseFloat(result.current.substr(0,2)+\".\"+result.current.substr(2));\n    node.send([,{topic:'current',payload:result.current}]);\n    result.a_power = bcdparse(msg.payload[9])+bcdparse(msg.payload[10])+bcdparse(msg.payload[11]);\n    result.a_power = parseFloat(result.a_power.substr(0,3)+\".\"+result.a_power.substr(3));\n    node.send([,{topic:'a_power',payload:result.a_power}]);\n}\n\nif ((result.type==\"response\")&&(result.function==\"0x81\")){\n    result.frequency = bcdparse(msg.payload[5])+bcdparse(msg.payload[6]);\n    result.frequency = parseFloat(result.frequency.substr(0,2)+\".\"+result.frequency.substr(2));\n    result.unit = \"Hz\";\n    node.send([,{topic:'frequency',payload:result.frequency}]);\n}\n\nif ((result.type==\"response\")&&(result.function==\"0x86\")){\n    result.r_power = bcdparse(msg.payload[6])+bcdparse(msg.payload[7])+bcdparse(msg.payload[8]); \n    result.r_power = parseFloat(result.r_power.substr(0,3)+\".\"+result.r_power.substr(3));\n    result.unit = \"kVAR\";\n    node.send([,{topic:'r_power',payload:result.r_power}]);    \n}\n\nif ((result.type==\"response\")&&(result.function==\"0x85\")){\n    result.r_energy = bcdparse(msg.payload[6])+bcdparse(msg.payload[7])+bcdparse(msg.payload[8]);\n    result.r_energy = parseFloat(result.r_energy.substr(0,4)+\".\"+result.r_energy.substr(4));\n    result.unit = \"kVARh\";\n    node.send([,{topic:'r_energy',payload:result.r_energy}]);\n}\n\nif ((result.type==\"response\")&&(result.function==\"0x27\")){\n    result.a_energy = bcdparse(msg.payload[6])+bcdparse(msg.payload[7])+bcdparse(msg.payload[8]);\n    result.a_energy = parseFloat(result.a_energy.substr(0,4)+\".\"+result.a_energy.substr(4));\n    result.unit = \"kWh\";\n    node.send([,{topic:'a_energy',payload:result.a_energy}]);\n}\n\nif ((result.type==\"response\")&&(result.function==\"0x21\")){\n    result.locdate = bcdparse(msg.payload[6])+\":\"+\n                    bcdparse(msg.payload[7])+\":\"+\n                    bcdparse(msg.payload[8])+\" \"+\n                    bcdparse(msg.payload[9])+\"-\"+\n                    bcdparse(msg.payload[10])+\"-\"+\n                    bcdparse(msg.payload[11]);\n    node.send([,{topic:'locdate',payload:result.locdate}]);\n}\n\nmsg.payload = result;\nreturn msg;","outputs":"2","noerr":0,"initialize":"","finalize":"","x":350,"y":500,"wires":[["eaacd318.b5b12"],["e965cc58.f6064"]]},{"id":"8bda9ff8.9be3b","type":"delay","z":"83e58bdc.48802","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":180,"wires":[["e354cf18.cfdb2","31bce3eb.99978c"]]},{"id":"e354cf18.cfdb2","type":"function","z":"83e58bdc.48802","name":"sendReq","func":"// ----------- input par\nvar func_no = 0x27;\nvar func_len = 7;\nvar func_par = 0;\n\n// ----------- func init\nvar buffer = new Buffer(func_len);\nvar serial = 42356415;\nnode.status({text:\"Func \"+func_no.toString(16)});\n\n// -------------encode serial\nserial = serial.toString(16);\nif (serial.length<8) serial=\"0\"+serial;\nbuffer[0]=parseInt(serial.substr(0,2),16);\nbuffer[1]=parseInt(serial.substr(2,2),16);\nbuffer[2]=parseInt(serial.substr(4,2),16);\nbuffer[3]=parseInt(serial.substr(6,2),16);\nbuffer[4]=func_no;\nif (func_len>7) buffer[5]=func_par;\n\n// ------------- calculate crc\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < (func_len-2); i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n// ------------- fill crc\n\nbuffer[(func_len-2)]= crc & 0xFF;\nbuffer[(func_len-1)]= (crc & 0xFF00) >> 8;\n\n// ------------- send out\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["6051ae89.2dfc3"]]},{"id":"d2b12cce.cef0d","type":"function","z":"83e58bdc.48802","name":"sendReq","func":"// ----------- input par\nvar func_no = 0x81;\nvar func_len = 7;\nvar func_par = 0;\n\n// ----------- func init\nvar buffer = new Buffer(func_len);\nvar serial = 42356415;\nnode.status({text:\"Func \"+func_no.toString(16)});\n\n// -------------encode serial\nserial = serial.toString(16);\nif (serial.length<8) serial=\"0\"+serial;\nbuffer[0]=parseInt(serial.substr(0,2),16);\nbuffer[1]=parseInt(serial.substr(2,2),16);\nbuffer[2]=parseInt(serial.substr(4,2),16);\nbuffer[3]=parseInt(serial.substr(6,2),16);\nbuffer[4]=func_no;\nif (func_len>7) buffer[5]=func_par;\n\n// ------------- calculate crc\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < (func_len-2); i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n// ------------- fill crc\n\nbuffer[(func_len-2)]= crc & 0xFF;\nbuffer[(func_len-1)]= (crc & 0xFF00) >> 8;\n\n// ------------- send out\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":240,"wires":[["6051ae89.2dfc3"]]},{"id":"31bce3eb.99978c","type":"delay","z":"83e58bdc.48802","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":240,"wires":[["d2b12cce.cef0d","c83261f7.6539f"]]},{"id":"e965cc58.f6064","type":"switch","z":"83e58bdc.48802","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"voltage","vt":"str"},{"t":"eq","v":"current","vt":"str"},{"t":"eq","v":"frequency","vt":"str"},{"t":"eq","v":"a_energy","vt":"str"},{"t":"eq","v":"r_energy","vt":"str"},{"t":"eq","v":"locdate","vt":"str"},{"t":"eq","v":"a_power","vt":"str"},{"t":"eq","v":"r_power","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":570,"y":500,"wires":[["707345a4.89993c","36218e7e.f15322"],["3dcd80ee.5eb4a","632ac3a5.b1be3c"],["aa5ccb4f.b93cf8","a326edca.13c6b8"],["ac1b7d2b.12e8"],["61554a59.ee1404"],["21150694.0a8ada"],["8832d329.c38bf"],["f9603026.1155f"]]},{"id":"707345a4.89993c","type":"ui_gauge","z":"83e58bdc.48802","name":"Voltage","group":"d53b39c5.1152e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Напряжение сети","label":"V","format":"{{value}}","min":"200","max":"260","colors":["#e6e600","#00b500","#ca3838"],"seg1":"207","seg2":"253","x":780,"y":300,"wires":[]},{"id":"64774137.3ca8e","type":"function","z":"83e58bdc.48802","name":"sendReq","func":"// ----------- input par\nvar func_no = 0x85;\nvar func_len = 7;\nvar func_par = 0;\n\n// ----------- func init\nvar buffer = new Buffer(func_len);\nvar serial = 42356415;\nnode.status({text:\"Func \"+func_no.toString(16)});\n\n// -------------encode serial\nserial = serial.toString(16);\nif (serial.length<8) serial=\"0\"+serial;\nbuffer[0]=parseInt(serial.substr(0,2),16);\nbuffer[1]=parseInt(serial.substr(2,2),16);\nbuffer[2]=parseInt(serial.substr(4,2),16);\nbuffer[3]=parseInt(serial.substr(6,2),16);\nbuffer[4]=func_no;\nif (func_len>7) buffer[5]=func_par;\n\n// ------------- calculate crc\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < (func_len-2); i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n// ------------- fill crc\n\nbuffer[(func_len-2)]= crc & 0xFF;\nbuffer[(func_len-1)]= (crc & 0xFF00) >> 8;\n\n// ------------- send out\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":300,"wires":[["6051ae89.2dfc3"]]},{"id":"25314626.ed5d6a","type":"function","z":"83e58bdc.48802","name":"sendReq","func":"// ----------- input par\nvar func_no = 0x21;\nvar func_len = 7;\nvar func_par = 0;\n\n// ----------- func init\nvar buffer = new Buffer(func_len);\nvar serial = 42356415;\nnode.status({text:\"Func \"+func_no.toString(16)});\n\n// -------------encode serial\nserial = serial.toString(16);\nif (serial.length<8) serial=\"0\"+serial;\nbuffer[0]=parseInt(serial.substr(0,2),16);\nbuffer[1]=parseInt(serial.substr(2,2),16);\nbuffer[2]=parseInt(serial.substr(4,2),16);\nbuffer[3]=parseInt(serial.substr(6,2),16);\nbuffer[4]=func_no;\nif (func_len>7) buffer[5]=func_par;\n\n// ------------- calculate crc\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < (func_len-2); i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n// ------------- fill crc\n\nbuffer[(func_len-2)]= crc & 0xFF;\nbuffer[(func_len-1)]= (crc & 0xFF00) >> 8;\n\n// ------------- send out\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":360,"wires":[["6051ae89.2dfc3"]]},{"id":"c83261f7.6539f","type":"delay","z":"83e58bdc.48802","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":300,"wires":[["64774137.3ca8e","5340097c.2966a8"]]},{"id":"5340097c.2966a8","type":"delay","z":"83e58bdc.48802","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":360,"wires":[["25314626.ed5d6a"]]},{"id":"3dcd80ee.5eb4a","type":"ui_gauge","z":"83e58bdc.48802","name":"Current","group":"452a993.e25bc68","order":1,"width":0,"height":0,"gtype":"gage","title":"Ток нагрузки","label":"A","format":"{{value}}","min":"0","max":"60","colors":["#e6e600","#00b500","#ca3838"],"seg1":"0.1","seg2":"40","x":780,"y":380,"wires":[]},{"id":"aa5ccb4f.b93cf8","type":"ui_gauge","z":"83e58bdc.48802","name":"Frequency","group":"44276f6f.09434","order":1,"width":0,"height":0,"gtype":"gage","title":"Частота сети","label":"Hz","format":"{{value}}","min":"49.0","max":"51.0","colors":["#e6e600","#00b500","#ca3838"],"seg1":"49.6","seg2":"50.4","x":790,"y":460,"wires":[]},{"id":"ac1b7d2b.12e8","type":"ui_text","z":"83e58bdc.48802","group":"10c7ad93.977db2","order":1,"width":0,"height":0,"name":"A_energy","label":"Активная энергия, кВтч","format":"{{msg.payload}}","layout":"col-center","x":780,"y":540,"wires":[]},{"id":"61554a59.ee1404","type":"ui_text","z":"83e58bdc.48802","group":"10c7ad93.977db2","order":2,"width":0,"height":0,"name":"r_energy","label":"Реактивная энергия, кВАрч","format":"{{msg.payload}}","layout":"col-center","x":780,"y":580,"wires":[]},{"id":"21150694.0a8ada","type":"ui_text","z":"83e58bdc.48802","group":"10c7ad93.977db2","order":5,"width":0,"height":0,"name":"timedate","label":"Часы на счетчике","format":"{{msg.payload}}","layout":"col-center","x":780,"y":620,"wires":[]},{"id":"c018adb2.fdfe","type":"function","z":"83e58bdc.48802","name":"sendReq","func":"// ----------- input par\nvar func_no = 0x86;\nvar func_len = 8;\nvar func_par = 0;\n\n// ----------- func init\nvar buffer = new Buffer(func_len);\nvar serial = 42356415;\nnode.status({text:\"Func \"+func_no.toString(16)});\n\n// -------------encode serial\nserial = serial.toString(16);\nif (serial.length<8) serial=\"0\"+serial;\nbuffer[0]=parseInt(serial.substr(0,2),16);\nbuffer[1]=parseInt(serial.substr(2,2),16);\nbuffer[2]=parseInt(serial.substr(4,2),16);\nbuffer[3]=parseInt(serial.substr(6,2),16);\nbuffer[4]=func_no;\nif (func_len>7) buffer[5]=func_par;\n\n// ------------- calculate crc\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < (func_len-2); i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n// ------------- fill crc\n\nbuffer[(func_len-2)]= crc & 0xFF;\nbuffer[(func_len-1)]= (crc & 0xFF00) >> 8;\n\n// ------------- send out\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["6051ae89.2dfc3"]]},{"id":"c001375c.bc7b58","type":"delay","z":"83e58bdc.48802","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":120,"wires":[["8bda9ff8.9be3b","c018adb2.fdfe"]]},{"id":"8832d329.c38bf","type":"ui_text","z":"83e58bdc.48802","group":"10c7ad93.977db2","order":3,"width":0,"height":0,"name":"a_power","label":"Активная мощность, кВт","format":"{{msg.payload}}","layout":"col-center","x":780,"y":660,"wires":[]},{"id":"f9603026.1155f","type":"ui_text","z":"83e58bdc.48802","group":"10c7ad93.977db2","order":4,"width":0,"height":0,"name":"r_power","label":"Реактивная мощность, кВАр","format":"{{msg.payload}}","layout":"col-center","x":780,"y":700,"wires":[]},{"id":"632ac3a5.b1be3c","type":"ui_chart","z":"83e58bdc.48802","name":"Current chart","group":"452a993.e25bc68","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":800,"y":420,"wires":[[]]},{"id":"36218e7e.f15322","type":"ui_chart","z":"83e58bdc.48802","name":"Voltage chart","group":"d53b39c5.1152e8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":340,"wires":[[]]},{"id":"a326edca.13c6b8","type":"ui_chart","z":"83e58bdc.48802","name":"Frequency chart","group":"44276f6f.09434","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":500,"wires":[[]]},{"id":"70f42acc.63cfc4","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"1","bin":"bin","out":"time","addchar":"","responsetimeout":""},{"id":"d53b39c5.1152e8","type":"ui_group","name":"Group1","tab":"3d756b33.068ae4","order":1,"disp":true,"width":"6"},{"id":"452a993.e25bc68","type":"ui_group","name":"Group2","tab":"3d756b33.068ae4","order":2,"disp":true,"width":"6","collapse":false},{"id":"44276f6f.09434","type":"ui_group","name":"Group3","tab":"3d756b33.068ae4","order":3,"disp":true,"width":"6","collapse":false},{"id":"10c7ad93.977db2","type":"ui_group","name":"Group4","tab":"3d756b33.068ae4","order":4,"disp":true,"width":"6","collapse":false},{"id":"3d756b33.068ae4","type":"ui_tab","name":"Tab1","icon":"dashboard","disabled":false,"hidden":false}]