flows.json
[{"id":"a8737338.9acd5","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8e67cfcc.d8271","type":"serial in","z":"a8737338.9acd5","name":"","serial":"3dfcd67b.850172","x":110,"y":500,"wires":[["aaa8ef58.ff36d"]]},{"id":"8cf1bf5c.ccdec","type":"debug","z":"a8737338.9acd5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":380,"wires":[]},{"id":"4c36cfc.36be6b","type":"inject","z":"a8737338.9acd5","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":130,"y":60,"wires":[["4472764b.f02","3d94987e.f1c1e8"]]},{"id":"c6f662d4.fcce1","type":"serial out","z":"a8737338.9acd5","name":"","serial":"3dfcd67b.850172","x":670,"y":60,"wires":[]},{"id":"4472764b.f02","type":"function","z":"a8737338.9acd5","name":"sendReq","func":"// ----------- input par\nvar func_no = 0x63;\nvar func_len = 7;\nvar func_par = 0;\n\n// ----------- func init\nvar buffer = new Buffer(func_len);\nvar serial = 42356415;\nnode.status({text:\"Func \"+func_no.toString(16)});\n\n// -------------encode serial\nserial = serial.toString(16);\nif (serial.length<8) serial=\"0\"+serial;\nbuffer[0]=parseInt(serial.substr(0,2),16);\nbuffer[1]=parseInt(serial.substr(2,2),16);\nbuffer[2]=parseInt(serial.substr(4,2),16);\nbuffer[3]=parseInt(serial.substr(6,2),16);\nbuffer[4]=func_no;\nif (func_len>7) buffer[5]=func_par;\n\n// ------------- calculate crc\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < (func_len-2); i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n// ------------- fill crc\n\nbuffer[(func_len-2)]= crc & 0xFF;\nbuffer[(func_len-1)]= (crc & 0xFF00) >> 8;\n\n// ------------- send out\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":60,"wires":[["c6f662d4.fcce1"]]},{"id":"aaa8ef58.ff36d","type":"function","z":"a8737338.9acd5","name":"parseResp","func":"// ------------- var init\n\nvar result = {};\n\n// ------------- preface\n\nfunction bcdparse(arg) {\n    var t=0;\n    var r=\"\";\n    t = (arg&0xF0)>>4;\n    r=t.toString();\n    t = arg&0x0F;\n    r+=t.toString();\n    return r;\n}\n\n// ------------- message type\nif (msg.payload.length<2) {\n    result.type = \"empty\";\n    msg.payload = result;\n    return msg;\n}\nif ((msg.payload.length>2)&&(msg.payload.length<10)) {\n    result.type = \"request\";\n} else {\n    result.type = \"response\";\n}\n\n// -------------- function number\n\ntemp = msg.payload[4];\nresult.function = \"0x\"+temp.toString(16);\n\n// -------------- parse data\n\nif ((result.type==\"response\")&&(result.function==\"0x63\")){\n    result.voltage = bcdparse(msg.payload[5])+bcdparse(msg.payload[6]);\n    result.voltage = parseFloat(result.voltage.substr(0,3)+\".\"+result.voltage.substr(3));\n    node.send([,{topic:'voltage',payload:result.voltage}]);\n    result.current = bcdparse(msg.payload[7])+bcdparse(msg.payload[8]);\n    result.current = parseFloat(result.current.substr(0,2)+\".\"+result.current.substr(2));\n    node.send([,{topic:'current',payload:result.current}]);\n    result.a_power = bcdparse(msg.payload[9])+bcdparse(msg.payload[10])+bcdparse(msg.payload[11]);\n    result.a_power = parseFloat(result.a_power.substr(0,3)+\".\"+result.a_power.substr(3));\n    node.send([,{topic:'a_power',payload:result.a_power}]);\n}\n\nif ((result.type==\"response\")&&(result.function==\"0x81\")){\n    result.frequency = bcdparse(msg.payload[5])+bcdparse(msg.payload[6]);\n    result.frequency = parseFloat(result.frequency.substr(0,2)+\".\"+result.frequency.substr(2));\n    result.unit = \"Hz\";\n    node.send([,{topic:'frequency',payload:result.frequency}]);\n}\n\nif ((result.type==\"response\")&&(result.function==\"0x86\")){\n    result.r_power = bcdparse(msg.payload[6])+bcdparse(msg.payload[7])+bcdparse(msg.payload[8]); \n    result.r_power = parseFloat(result.r_power.substr(0,3)+\".\"+result.r_power.substr(3));\n    result.unit = \"kVAR\";\n    node.send([,{topic:'r_power',payload:result.r_power}]);    \n}\n\nif ((result.type==\"response\")&&(result.function==\"0x85\")){\n    result.r_energy = bcdparse(msg.payload[5])+bcdparse(msg.payload[6])+bcdparse(msg.payload[7])+bcdparse(msg.payload[8]);\n    result.r_energy = parseFloat(result.r_energy.substr(0,6)+\".\"+result.r_energy.substr(6));\n    result.unit = \"kVARh\";\n    node.send([,{topic:'r_energy',payload:result.r_energy}]);\n}\n\nif ((result.type==\"response\")&&(result.function==\"0x27\")){\n    result.a_energy = bcdparse(msg.payload[5])+bcdparse(msg.payload[6])+bcdparse(msg.payload[7])+bcdparse(msg.payload[8]);\n    result.a_energy = parseFloat(result.a_energy.substr(0,6)+\".\"+result.a_energy.substr(6));\n    result.unit = \"kWh\";\n    node.send([,{topic:'a_energy',payload:result.a_energy}]);\n}\n\nif ((result.type==\"response\")&&(result.function==\"0x21\")){\n    result.locdate = bcdparse(msg.payload[6])+\":\"+\n                    bcdparse(msg.payload[7])+\":\"+\n                    bcdparse(msg.payload[8])+\" \"+\n                    bcdparse(msg.payload[9])+\"-\"+\n                    bcdparse(msg.payload[10])+\"-\"+\n                    bcdparse(msg.payload[11]);\n    node.send([,{topic:'locdate',payload:result.locdate}]);\n}\n\nmsg.payload = result;\nreturn msg;","outputs":"2","noerr":0,"x":330,"y":500,"wires":[["8cf1bf5c.ccdec"],["97c667ef.c10ce"]]},{"id":"8f8a54b3.78d528","type":"delay","z":"a8737338.9acd5","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":180,"wires":[["528096eb.56dad8","70da5359.68480c"]]},{"id":"528096eb.56dad8","type":"function","z":"a8737338.9acd5","name":"sendReq","func":"// ----------- input par\nvar func_no = 0x27;\nvar func_len = 7;\nvar func_par = 0;\n\n// ----------- func init\nvar buffer = new Buffer(func_len);\nvar serial = 42356415;\nnode.status({text:\"Func \"+func_no.toString(16)});\n\n// -------------encode serial\nserial = serial.toString(16);\nif (serial.length<8) serial=\"0\"+serial;\nbuffer[0]=parseInt(serial.substr(0,2),16);\nbuffer[1]=parseInt(serial.substr(2,2),16);\nbuffer[2]=parseInt(serial.substr(4,2),16);\nbuffer[3]=parseInt(serial.substr(6,2),16);\nbuffer[4]=func_no;\nif (func_len>7) buffer[5]=func_par;\n\n// ------------- calculate crc\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < (func_len-2); i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n// ------------- fill crc\n\nbuffer[(func_len-2)]= crc & 0xFF;\nbuffer[(func_len-1)]= (crc & 0xFF00) >> 8;\n\n// ------------- send out\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["c6f662d4.fcce1"]]},{"id":"c44f05d.c7f6d78","type":"function","z":"a8737338.9acd5","name":"sendReq","func":"// ----------- input par\nvar func_no = 0x81;\nvar func_len = 7;\nvar func_par = 0;\n\n// ----------- func init\nvar buffer = new Buffer(func_len);\nvar serial = 42356415;\nnode.status({text:\"Func \"+func_no.toString(16)});\n\n// -------------encode serial\nserial = serial.toString(16);\nif (serial.length<8) serial=\"0\"+serial;\nbuffer[0]=parseInt(serial.substr(0,2),16);\nbuffer[1]=parseInt(serial.substr(2,2),16);\nbuffer[2]=parseInt(serial.substr(4,2),16);\nbuffer[3]=parseInt(serial.substr(6,2),16);\nbuffer[4]=func_no;\nif (func_len>7) buffer[5]=func_par;\n\n// ------------- calculate crc\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < (func_len-2); i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n// ------------- fill crc\n\nbuffer[(func_len-2)]= crc & 0xFF;\nbuffer[(func_len-1)]= (crc & 0xFF00) >> 8;\n\n// ------------- send out\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["c6f662d4.fcce1"]]},{"id":"70da5359.68480c","type":"delay","z":"a8737338.9acd5","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":240,"wires":[["c44f05d.c7f6d78","27b67200.50b1ee"]]},{"id":"97c667ef.c10ce","type":"switch","z":"a8737338.9acd5","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"voltage","vt":"str"},{"t":"eq","v":"current","vt":"str"},{"t":"eq","v":"frequency","vt":"str"},{"t":"eq","v":"a_energy","vt":"str"},{"t":"eq","v":"r_energy","vt":"str"},{"t":"eq","v":"locdate","vt":"str"},{"t":"eq","v":"a_power","vt":"str"},{"t":"eq","v":"r_power","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":570,"y":500,"wires":[["8a503fe9.837d6","4975f81c.8e0a9"],["2de569a6.e15c7e","88684dd9.308cd8"],["19f911ae.d00156","5cda1a11.1455bc"],["c6c71484.d4d61"],["851b30b7.610258"],["fb7dbf4f.957938"],["3b693ed4.b3a652"],["3c113003.4c1f6"]]},{"id":"8a503fe9.837d6","type":"ui_gauge","z":"a8737338.9acd5","name":"Voltage","group":"ab58b155.be5bb8","order":1,"width":0,"height":0,"gtype":"gage","title":"Напряжение сети","label":"V","format":"{{value}}","min":"200","max":"260","colors":["#e6e600","#00b500","#ca3838"],"seg1":"207","seg2":"253","x":780,"y":300,"wires":[]},{"id":"fb8998e4.e61c38","type":"function","z":"a8737338.9acd5","name":"sendReq","func":"// ----------- input par\nvar func_no = 0x85;\nvar func_len = 7;\nvar func_par = 0;\n\n// ----------- func init\nvar buffer = new Buffer(func_len);\nvar serial = 42356415;\nnode.status({text:\"Func \"+func_no.toString(16)});\n\n// -------------encode serial\nserial = serial.toString(16);\nif (serial.length<8) serial=\"0\"+serial;\nbuffer[0]=parseInt(serial.substr(0,2),16);\nbuffer[1]=parseInt(serial.substr(2,2),16);\nbuffer[2]=parseInt(serial.substr(4,2),16);\nbuffer[3]=parseInt(serial.substr(6,2),16);\nbuffer[4]=func_no;\nif (func_len>7) buffer[5]=func_par;\n\n// ------------- calculate crc\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < (func_len-2); i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n// ------------- fill crc\n\nbuffer[(func_len-2)]= crc & 0xFF;\nbuffer[(func_len-1)]= (crc & 0xFF00) >> 8;\n\n// ------------- send out\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":300,"wires":[["c6f662d4.fcce1"]]},{"id":"71c93a48.031924","type":"function","z":"a8737338.9acd5","name":"sendReq","func":"// ----------- input par\nvar func_no = 0x21;\nvar func_len = 7;\nvar func_par = 0;\n\n// ----------- func init\nvar buffer = new Buffer(func_len);\nvar serial = 42356415;\nnode.status({text:\"Func \"+func_no.toString(16)});\n\n// -------------encode serial\nserial = serial.toString(16);\nif (serial.length<8) serial=\"0\"+serial;\nbuffer[0]=parseInt(serial.substr(0,2),16);\nbuffer[1]=parseInt(serial.substr(2,2),16);\nbuffer[2]=parseInt(serial.substr(4,2),16);\nbuffer[3]=parseInt(serial.substr(6,2),16);\nbuffer[4]=func_no;\nif (func_len>7) buffer[5]=func_par;\n\n// ------------- calculate crc\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < (func_len-2); i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n// ------------- fill crc\n\nbuffer[(func_len-2)]= crc & 0xFF;\nbuffer[(func_len-1)]= (crc & 0xFF00) >> 8;\n\n// ------------- send out\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":360,"wires":[["c6f662d4.fcce1"]]},{"id":"27b67200.50b1ee","type":"delay","z":"a8737338.9acd5","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":300,"wires":[["fb8998e4.e61c38","562b7e7c.55d3b8"]]},{"id":"562b7e7c.55d3b8","type":"delay","z":"a8737338.9acd5","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":360,"wires":[["71c93a48.031924"]]},{"id":"2de569a6.e15c7e","type":"ui_gauge","z":"a8737338.9acd5","name":"Current","group":"aeaf6eed.857fd","order":1,"width":0,"height":0,"gtype":"gage","title":"Ток нагрузки","label":"A","format":"{{value}}","min":"0","max":"60","colors":["#e6e600","#00b500","#ca3838"],"seg1":"0.1","seg2":"40","x":780,"y":380,"wires":[]},{"id":"19f911ae.d00156","type":"ui_gauge","z":"a8737338.9acd5","name":"Frequency","group":"b77b8376.bcc2b8","order":1,"width":0,"height":0,"gtype":"gage","title":"Частота сети","label":"Hz","format":"{{value}}","min":"49.0","max":"51.0","colors":["#e6e600","#00b500","#ca3838"],"seg1":"49.6","seg2":"50.4","x":790,"y":460,"wires":[]},{"id":"c6c71484.d4d61","type":"ui_text","z":"a8737338.9acd5","group":"a0a4660a.99b5a","order":1,"width":0,"height":0,"name":"A_energy","label":"Активная энергия, кВтч","format":"{{msg.payload}}","layout":"col-center","x":780,"y":540,"wires":[]},{"id":"851b30b7.610258","type":"ui_text","z":"a8737338.9acd5","group":"a0a4660a.99b5a","order":2,"width":0,"height":0,"name":"r_energy","label":"Реактивная энергия, кВАрч","format":"{{msg.payload}}","layout":"col-center","x":780,"y":580,"wires":[]},{"id":"fb7dbf4f.957938","type":"ui_text","z":"a8737338.9acd5","group":"a0a4660a.99b5a","order":5,"width":0,"height":0,"name":"timedate","label":"Часы на счетчике","format":"{{msg.payload}}","layout":"col-center","x":780,"y":620,"wires":[]},{"id":"21e171c2.88df86","type":"function","z":"a8737338.9acd5","name":"sendReq","func":"// ----------- input par\nvar func_no = 0x86;\nvar func_len = 8;\nvar func_par = 0;\n\n// ----------- func init\nvar buffer = new Buffer(func_len);\nvar serial = 42356415;\nnode.status({text:\"Func \"+func_no.toString(16)});\n\n// -------------encode serial\nserial = serial.toString(16);\nif (serial.length<8) serial=\"0\"+serial;\nbuffer[0]=parseInt(serial.substr(0,2),16);\nbuffer[1]=parseInt(serial.substr(2,2),16);\nbuffer[2]=parseInt(serial.substr(4,2),16);\nbuffer[3]=parseInt(serial.substr(6,2),16);\nbuffer[4]=func_no;\nif (func_len>7) buffer[5]=func_par;\n\n// ------------- calculate crc\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < (func_len-2); i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n// ------------- fill crc\n\nbuffer[(func_len-2)]= crc & 0xFF;\nbuffer[(func_len-1)]= (crc & 0xFF00) >> 8;\n\n// ------------- send out\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["c6f662d4.fcce1"]]},{"id":"3d94987e.f1c1e8","type":"delay","z":"a8737338.9acd5","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":120,"wires":[["8f8a54b3.78d528","21e171c2.88df86"]]},{"id":"3b693ed4.b3a652","type":"ui_text","z":"a8737338.9acd5","group":"a0a4660a.99b5a","order":3,"width":0,"height":0,"name":"a_power","label":"Активная мощность, кВт","format":"{{msg.payload}}","layout":"col-center","x":780,"y":660,"wires":[]},{"id":"3c113003.4c1f6","type":"ui_text","z":"a8737338.9acd5","group":"a0a4660a.99b5a","order":4,"width":0,"height":0,"name":"r_power","label":"Реактивная мощность, кВАр","format":"{{msg.payload}}","layout":"col-center","x":780,"y":700,"wires":[]},{"id":"88684dd9.308cd8","type":"ui_chart","z":"a8737338.9acd5","name":"Current chart","group":"aeaf6eed.857fd","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":800,"y":420,"wires":[[]]},{"id":"4975f81c.8e0a9","type":"ui_chart","z":"a8737338.9acd5","name":"Voltage chart","group":"ab58b155.be5bb8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":340,"wires":[[]]},{"id":"5cda1a11.1455bc","type":"ui_chart","z":"a8737338.9acd5","name":"Frequency chart","group":"b77b8376.bcc2b8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":500,"wires":[[]]},{"id":"3dfcd67b.850172","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"1","bin":"bin","out":"time","addchar":"","responsetimeout":""},{"id":"ab58b155.be5bb8","type":"ui_group","name":"Group1","tab":"2b64abad.cfe1fc","order":1,"disp":true,"width":"6"},{"id":"aeaf6eed.857fd","type":"ui_group","name":"Group2","tab":"2b64abad.cfe1fc","order":2,"disp":true,"width":"6","collapse":false},{"id":"b77b8376.bcc2b8","type":"ui_group","name":"Group3","tab":"2b64abad.cfe1fc","order":3,"disp":true,"width":"6","collapse":false},{"id":"a0a4660a.99b5a","type":"ui_group","name":"Group4","tab":"2b64abad.cfe1fc","order":4,"disp":true,"width":"6","collapse":false},{"id":"2b64abad.cfe1fc","type":"ui_tab","name":"Tab1","icon":"dashboard","disabled":false,"hidden":false}]